@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #555;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

body {
  overflow-x: hidden;
  color: #333;
  background-color: #fff;
}

body,
p,
ol,
ul,
td {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  line-height: 18px;
}

i {
  font-size: 13px;
  margin-right: 5px;
  opacity: 50%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.alert {
  position: fixed;
  bottom: 10px;
  z-index: 100;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eee;
}

abbr,
abbr[title] {
  text-decoration: none;
}

.form-hint {
  position: absolute;
  margin-top: 0;
  top: 0;
  right: 0;
}

.nav-pills {
  width: 180px;
  min-width: 180px;
}

.tab-content {
  flex-grow: 1;
}

.event-item {
  display: flex;
  width: 100%;

  &.list {
    border-bottom: 2px solid #e6e6e6;
    padding: 40px 0;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &:first-of-type {
    padding-top: 0
  }

  &.greyscale-event {
    filter: grayscale(1)
  }

  .event-date {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    margin-right: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    .event-month {
      text-transform: uppercase;
      padding-bottom: 3px;
      color: white;
      padding: 5px;
      background-color: #0d6efd;
    }

    .event-day {
      font-size: 32px;
      vertical-align: top;
      line-height: 1;
      padding: 10px;
    }
  }

  .event-content {
    width: 100%;
    margin-left: 30px;

    .event-title {
      margin: 0 0 10px 0;
      display: block;
      font-weight: 400;
      font-size: 25px;
      line-height: 27px;
      text-decoration: none;

      &.smaller-text {
        font-size: 20px;
      }
    }

    .event-description {
      padding: 5px 0 20px;
      color: #696464;
      line-height: 1.5;
      display: block;
    }
  }
}

.datetime .d-flex.flex-row.justify-content-between.align-items-center {
  margin: 0 -0.25rem;
}

.card {
  background: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
  border-radius: 10px;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  .subtitle {
    font-size: 80%;
    font-weight: 600;
  }

  &.hover:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .2);
  }

  .img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

}

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




$grey-200: #dddddd;
$grey-600: #777777;
$blue-50: #f0f8ff;
$blue-400: #339dff;
$blue-500: #0084ff;
$blue-600: #006acc;
$white: #ffffff;



@keyframes float {
  0% {
    transform: translatey(5px);
  }

  50% {
    transform: translatey(-5px);
  }

  100% {
    transform: translatey(5px);
  }
}

@keyframes popInRight {
  0% {
    transform: scale(0) translatex(0px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translatex(-30px);
    opacity: 100%;
  }
}

@keyframes popInLeft {
  0% {
    transform: scale(0) translatex(0px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translatex(30px);
    opacity: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.emptystate {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__body {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
  }
}

.illustration {
  &__container {
    width: 160px;
    height: 160px;
    background-color: $blue-50;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover .illustration__containerBackground svg {
      animation: pulse 4s ease-in-out infinite;
    }
  }

  &__containerBackground {
    width: 160px;
    height: 160px;
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
  }

  &__elements {
    animation: float 6s ease-in-out infinite;
    background-color: none;
    animation-delay: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translatey(5px);
  }

  &__element {
    margin-bottom: 15px;
    background-color: $white;
    width: 140px;
    border-radius: 6px;
    transform: scale(O);
    opacity: 0;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--right.illustration__element--1 {
      transform: translatex(-30px);
      animation: popInRight 0.3s ease-in-out;
      animation-fill-mode: forwards;
      transform-origin: top left;
    }

    &--right.illustration__element--3 {
      transform: translatex(-30px);
      animation: popInRight 0.3s ease-in-out 0.6s;
      animation-fill-mode: forwards;
      transform-origin: top left;
      margin: 0;
    }

    &--left {
      transform: translatex(30px);
      animation: popInLeft 0.3s ease-in-out 0.3s;
      animation-fill-mode: forwards;
      transform-origin: top right;
    }
  }

  &__elementType {
    width: 24px;
    height: 24px;
    background-color: $blue-400;
    border-radius: 6px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
  }
}

.illustration__elementWireframe {
  width: 100px;
  height: 8px;
  background-color: $grey-200;
  border-radius: 6px;
}

.button {
  background-color: $blue-500;
  padding: 16px 28px;
  width: auto;
  color: $white;
  border-radius: 6px;
  display: inline-block;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: $blue-600;
  }
}